{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Add New Task</h1>
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" required placeholder="Enter task name">
    <input type="text" name="description" required placeholder="Enter task description">
    <label for="status">----SELECT STATUS----</label>
    <select name="status" id="status">
        {% for status in statuses %}
        <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
    </select>
    <button type="submit">Create</button>
</form>

</body>
</html>